<h1>Welcome to Park Your Dog SF! </h1>
<br>
<p> <strong> We have the most up to date information on off-leash dog areas in the city of San Francisco </strong> </p>
<br>
<div id="map-canvas"></div>

<script>
	var parks = <%= @parks.to_json.html_safe %>;
</script>