<!DOCTYPE html>
<html>
<head>
  <title>ParkYourDog</title>
  <%= stylesheet_link_tag "application", media: "all" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBuSDa-9g9vuYmg1E2tYw-RknmrWuMtcK0&sensor=false", "application"%>
</body>
</html>
